*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fontMenu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: #3b3b3b;
    position: relative;
    &:hover::after{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #888585;
        position: absolute;
        bottom: 7px;
        left: 0;
    }
}
.arrow{
    color: deeppink !important;
    opacity: 1 !important;
    font-size: 30px;
}

@media screen and (min-width:1400px) {
    div.menu{
        width: 100%;
    }
    .pRightMenu{
        padding-right: 100px;
    }
    .pleftMenu{
        padding-left: 150px;
    }
    div.slider{
        width: 100%;
        height: 600px;
        >div.carousel {
            width: inherit;
            height: inherit !important;
            >div.carousel-inner{
            width: inherit;
            height: inherit !important;
            img{
                width: inherit;
                height: inherit !important;
                object-fit: cover;
            }
            }
        }
        
    }
    div.device{
        width: 100%;
        
    }
    div.posts{
        width: 100%;
    }
}
@media screen and (min-width:1200px) and (max-width:1400px) {
    div.menu{
        width: 100%;
    }
    .pRightMenu{
        padding-right: 80px;
    }
    .pleftMenu{
        padding-left: 100px;
    }
    div.slider{
        width: 100%;
        height: 400px;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    div.menu{
        width: 100%;
    }
    .pRightMenu{
        padding-right: 10px;
    }
    .pleftMenu{
        padding-left: 50px;
    }
    div.slider{
        width: 100%;
        height: 400px;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    div.menu{
        width: 100%;
    }
    .pRightMenu{
        padding-right: 40px;
    }
    .pleftMenu{
        padding-left: 0;
    }
    div.slider{
        width: 100%;
        height: 400px;
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    div.menu{
        width: 100%;
    }
    div.slider{
        width: 100%;
        height: 400px;
    }
}
@media screen and (max-width:576px) {
    div.menu{
        width: 100%;
    }
    div.slider{
        width: 100%;
        height: 400px;
    }
}